body {
  background-color: lightblue;
  font-size: 20px;
}
.App {
  text-align: center;
  margin-left: 25vw;
  margin-right: 25vw;
  font-size: 20px;
}

.taskAdder{
   display: flex;
   justify-content: space-between;
   width: 100%;
   font-size: 20px;
   margin-bottom: 8vh;
}
.addValue{
  width: 60%;
  height: 5vh;
  border-radius: 5px;
  border: 2px solid gray;
  font-size: 15px;
}
.addButton{
  width: 35%;
  border-radius: 5px;
  background-color: rgb(3, 101, 150);
  color: wheat;
  font-size: 15px;
  border: none;
}
.addButton:hover{
  cursor: pointer;
}
.total{
    width: 100%;
    background-color: rgb(66, 252, 165);
    border-radius: 5px;
    margin-top: 2vh;
    margin-bottom: 2vh;
    align-items: center;
    text-align: center;
    color: gray;
    font-size: 20px;
    height: 10vh;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 4vh;
}