.bar{
    width: 100%;
    background-color: pink;
    border-radius: 5px;
    margin-top: 2vh;
    margin-bottom: 2vh;
    align-items: center;
    text-align: center;
    color: gray;
    font-size: 20px;
    height: 10vh;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 4vh;
}